
<ngb-carousel *ngIf="images">
	<ng-template ngbSlide>
		<div class="carImg picsum-img-wrapper">
			<img src="../../../assets/doc.jpg" alt="Random first slide" />
		</div>

	</ng-template>
	<ng-template ngbSlide>
		<div class="carImg picsum-img-wrapper">
			<img src="../../../assets/salute.jpg" alt="Random second slide" />
		</div>

	</ng-template>
	<ng-template ngbSlide>
		<div class="carImg picsum-img-wrapper">
			<img src="../../../assets/cervello.jpg" alt="Random third slide" />
		</div>

	</ng-template>
</ngb-carousel>
