.sfondo{
  background-color: rgba(3, 105, 222, 0.5);
}

#ImgCard{
height: 300px;
}

#bottone{
  background-color: rgb(1, 68, 144);
}
#bottone:hover{
  background-color: rgb(8, 82, 167,0.5);
}

.ndoc{
  color: rgba(3, 105, 222)
}
