
<div class="container-fluid background col-12 overflow-auto">
  <div class="row">

    <!-- Testo su schermi più grandi -->
    <div class="col-12 col-md-7 ps-4">
      <div class="pt-5">
        <h2 class="pt-4">InfoSalute</h2>
        <p class="pt-2">InfoSalute è un portale che vuole essere un punto di riferimento su
          diversi servizi della sanità italiana.
          Su InfoSalute puoi trovare informazioni preziose in base alle testimonianze degli altri pazienti,
          inoltre potrai inserire recensioni su ospedali, reparti e medici.<br>
          Come puoi esprimere la tua opinione? <br> Per esprimere un'opinione su un reparto ospedaliero, su una
          struttura (ospedale)
          o su un medico devi accedere alla scheda corrispondente e cliccare sul bottone 'Aggiungi la
          tua opinione', compilando il modulo. Per trovare la scheda dell'ospedale puoi utilizzare il box di
          ricerca oppure la classificazione che trovi usufruendo del menu in alto. Ricorda di
          riportare la tua testimonianza con il maggior grado di dettaglio possibile, rispondendo in maniera
          onesta e utilizzando un linguaggio
          appropriato.
        </p>
      </div>
    </div>

    <!-- Card di login su schermi più grandi -->
    <div class="card-container col-12 col-md-5">
      <div class="card p-3">
        <div class="card-body">
          <h4 class="card-title">Login</h4>
          <form #f="ngForm" (ngSubmit)="submit()">
            <label for="Username" class="p-1">Username:</label>
            <input name="username" type="Username" class="form-control" id="Username"
              placeholder="Inserisci il tuo username" required ngModel>
            <div class="form-group">
              <label for="password" class="p-1">Password:</label>
              <input type="password" name="password" class="form-control" id="password"
                placeholder="Inserisci la password" required ngModel>
            </div>
            <button class="btn btn-dark mt-3" type="submit">Accedi</button>
          </form>
          <p class="testo pt-2 d-flex align-items-center">Non hai un account? <button class="btn btn-outline-light ms-2"
              [routerLink]="['/register']">Registrati</button></p>
        </div>
      </div>
    </div>
  </div>
</div>
