<div class="container-fluid sfondo pt-5 ">
  <div class="row pt-3 flex">

    <!-- CARD MEDICO -->
    <div class="col-md-6 overflow-auto flex-item">
      <h1 class="pt-3 pb-2">Medico :</h1>
      <div id="MedCard" class="card">
        <img [src]="['../../../../assets/'+ percorso +'.jpg']" id="ImgCard" class="card-img-top" alt="...">
        <h3 class="pt-4">Nome : {{medico.nome}}</h3>
        <p class="pt-2 ps-2">Reparto : {{medico.repartoid}}</p>
        <p class="pt-2 ps-2">Specializzazione : {{medico.specializzazione}}</p>
      </div>
    </div>

    <app-recensione></app-recensione>
  </div>
</div>
