<div id="box" class="pt-5">
  <div class="container-fluid">

    <!-- CARD RICERCA -->
    <div class="col-12 pt-5 ">
      <div class="row">
        <div id="cerca" class="card col-md-4 col-sm-6 mx-auto ps-0 text-center">
          <form #f="ngForm" (ngSubmit)="submit()">
            <label for="nome" class="p-1">Cerca per Nome</label>
            <input name="nome" type="text" class="form-control" id="nome" placeholder="Inserisci il Nome dell'Ospedale"
              required [ngModel]="best">
            <button class="btn btn-dark mt-3" type="submit">Cerca</button>
          </form>
        </div>
      </div>
    </div>

    <!-- CARD LISTA OSPEDALI -->
    <div class="cardOsp col-12 overflow-auto pt-4">
      <div class="row">
        <div class="col-md-4 col-sm-6 p-4" *ngFor="let ospedale of ospedali">
          <div id="cardOsp" class="card p-2">
            <h4 class="Info">Ospedale :</h4>
            <h4 class="card-title ps-2"> {{ospedale.nome}}</h4>
            <div class="card-body">
              <p class="Info">Indirizzo :</p>
              <p>{{ospedale.indirizzo}}</p>
            </div>
            <div>
              <button class="btn btn-dark" [routerLink]="['/ospedale/'+ ospedale.id]">More Info</button>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- CARD LATERALE DX
      <div class="destra col-5 pt-4 d-none d-md-inline h-100">
        <div class="card blu">
          <form #s="ngForm" (ngSubmit)="submit()">
            <label for="nome" class="p-1">Cerca per Nome</label>
            <input name="nome" type="text" class="form-control" id="nome"
            placeholder="Inserisci il Nome dell'Ospedale" required [ngModel]="best">
            <button class="btn btn-dark mt-3" type="submit">Cerca</button>
          </form>
        </div>
      </div> -->

  </div>
</div>
