
.card {
  border-radius: 5px;
  background:rgb(8, 82, 167, 0.5);
  color:white;
  box-shadow: 10px 10px 10px rgb(199, 199, 199);

}

#cerca{
  width: 500px;



}

#cardOsp{
  height: 280px;
  width: 280px;
  display: flex;
  justify-content: center;
  align-items: start;
}

#cardOsp:hover{
  width: 300px; // Imposta la larghezza della card
  height: 300px; // Imposta l'altezza della card
  position: relative; // Imposta la posizione relativa
  z-index: 1; // Imposta il valore del z-index per la profondità
  background-color: rgba(1, 60, 129);
  .card-title{
    font-weight: bold;
  }
}

.Info{
  color :black
}

#box{
  background-color: rgba(228,229,231,0.9)
}

.row > * {

  padding-right: 0;
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-top: var(--bs-gutter-y);
}
